* Inner Join - **join** or **inner join**
* **Left** or **Right Outer Join**
* Full Outer Join - **a left outer join b** union **a right outer join b**
* Cross Join
* Spark Data Frames have a function called `join`. It can be used to perform inner or outer or full outer join.
* We need to specify **join condition** for Inner or Outer or Full Outer Join.

In [0]:
%run "./02 Setup Data Sets to perform joins"

In [0]:
help(courses_df.join)

In [0]:
help(courses_df.crossJoin)