In [1]:
%run "./02 Creating Spark Data Frame to Select and Rename Columns.ipynb"

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|        {null, null}|     []|      false|        NaN|         null|2021-04-10 17:45:30|
|  5|      Kurt|        Rome|krome4@shutterfly...|{+1 817 934 7142,...|     []|      false|        NaN|         null|2021-04-02 00:55:18|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [2]:
users_df.createOrReplaceTempView('users')

In [3]:
spark.sql("""
    SELECT id, (amount_paid + 25) AS amount_paid
    FROM users
"""). \
    show()

+---+-----------+
| id|amount_paid|
+---+-----------+
|  1|    1025.55|
|  2|      925.0|
|  3|     875.55|
|  4|        NaN|
|  5|        NaN|
+---+-----------+

In [4]:
users_df. \
    selectExpr('id', '(amount_paid + 25) AS amount_paid'). \
    show()

+---+-----------+
| id|amount_paid|
+---+-----------+
|  1|    1025.55|
|  2|      925.0|
|  3|     875.55|
|  4|        NaN|
|  5|        NaN|
+---+-----------+

In [5]:
# This will fail
users_df.select('id', 'amount_paid' + 25).show()

TypeError: can only concatenate str (not "int") to str

In [ ]:
from pyspark.sql.functions import lit

In [ ]:
lit(25)

In [ ]:
# This will also fail

users_df.select('id', 'amount_paid' + '25').show()

In [ ]:
from pyspark.sql.functions import lit, col

In [ ]:
'amount_paid' + lit(25.0)

In [ ]:
'amount_paid' + lit('25.0')

In [ ]:
# Returns null
# amount_paid is converted to string by implicitly using lit.
# Spark returns null when we perform arithmetic operations on noncompatible types
users_df.select('id', 'amount_paid' + lit(25.0), lit(50) + lit(25)).show()

In [ ]:
# This works
users_df.select('id', col('amount_paid') + lit(25.0)).show()

In [ ]:
# lit returns column type
lit(25.0)