In [1]:
ages_list = [(21, ), (23, ), (41, ), (32, )]

In [2]:
type(ages_list)

list

In [3]:
type(ages_list[2])

tuple

In [6]:
spark.createDataFrame(ages_list, 'age int')

+---+
|age|
+---+
| 21|
| 23|
| 41|
| 32|
+---+

In [7]:
users_list = [(1, 'Scott'), (2, 'Donald'), (3, 'Mickey'), (4, 'Elvis')]

In [8]:
spark.createDataFrame(users_list)

+---+------+
| _1|    _2|
+---+------+
|  1| Scott|
|  2|Donald|
|  3|Mickey|
|  4| Elvis|
+---+------+

In [9]:
spark.createDataFrame(users_list, 'user_id int, user_first_name string')

+-------+---------------+
|user_id|user_first_name|
+-------+---------------+
|      1|          Scott|
|      2|         Donald|
|      3|         Mickey|
|      4|          Elvis|
+-------+---------------+